@import "tailwindcss";

@theme {
  /* Colors */
  --color-navy-blue: #10107B;
  --color-primary: #7848F4;
  /* Typography */
  --text-big-heading: 36px;
  --text-heading: 24px;
  --text-sub-heading: 18px;
  --text-body-text: 16px;
  --text-paragraph: 12px;
  --text-label: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-in-out forwards;
}
